body::before {
  display: block;
  content: "";
  height: 60px;
}



.imgs2 {
  height: 100px;
}


.bottom-img {
  width: 100%;
}

.icon3 {
  height: 40px;
  width: 40px;
  text-align: center;
  padding: 10px;
  border-radius: 30%;

  background-color: rgb(31, 96, 245);
}

.btncol {
  margin-top: 40px;
  background-color: rgb(31, 96, 245);
}